# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

# Local files
.local

# Node modules
node_modules/

# Solc files
solc-files/

# coverage files
coverage_report/
lcov.info
